.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    font-family: $font-main;

    &--with-arr {
        svg {
            height: 46px;
            width: 46px;
            border-radius: 50%;
            transition: background .3s $easing;

            path {
                transition: fill .3s $easing;
            }

            .section--white & {
                path {
                    fill: $color-dark;
                }
                rect {
                    stroke: $color-dark;
                }
            }
        }

        @include hover {
            .button__text {
                background: $color-white;
                color: $color-black;
            }

            svg {
                background: $color-white;
                path {
                    fill: $color-black;
                }
            }
        }

        .section--white & {
            @include hover {
                .button__text {
                    background: $color-black;
                    color: $color-white;
                }

                svg {
                    background: $color-black;
                    path {
                        fill: $color-white;
                    }
                }
            }
        }

    }

    .text + & {
        margin-top: 32px;
    }

    &--form {
        background: rgba(14, 14, 14, 0.2);
        border: none !important;
        position: relative;

        .button__circle {
            position: absolute;
            right: 10px;
            height: 46px;
            width: 46px;
            background: $color-white;
            border-radius: 50%;
            transform: scale(0.24);
            transition: transform .4s $elastic;
        }

        @include hover {
            .button__circle {
                transform: scale(1);
            }
        }

        svg {
            background: none !important;
            right: 0 !important;


            path {
                fill: $color-black;
            }

            rect {
                opacity: 0;
            }
        }

    }

    &--header {
        background: $color-white;
        text-transform: uppercase;
        padding: 8px 23px;
        border-radius: 100px;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        transition: background .3s $easing;

        .button__text {
            color: $color-dark;
            transition: color .3s $easing;
        }

        @include hover {
            background: $color-violet;

            span {
                color: $color-white;
            }
        }
    }

    &--with-dot {
        border: 1px solid rgba(14, 14, 14, 0.3);
        border-radius: 100px;
        padding: 20px 80px 20px 32px;

        svg {
            position: absolute;
            right: 10px;
            background: $color-black;
            border-radius: 50%;
            transform: scale(0.24);
            transition: transform .4s $elastic;

            .module--news & rect {
                stroke: $color-black;
            }

            path {
                opacity: 0;
                transition: opacity .3s $easing;
            }
        }


        &.button--black {
            background: $color-black;

            svg {
                background-color: $color-white;

                path {
                    fill: $color-black;

                }
            }
        }

        @include hover {
            svg {
                transform: scale(1);
            }

            path {
                opacity: 1;
            }
        }
    }

    &__text {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: $color-white;
        pointer-events: none;
        transition: color .3s $easing, background .3s $easing;

        .button--with-arr & {
            border: 1px solid $color-white;
            border-radius: 100px;
            padding: 10px 24px;
            margin-right: 4px;
        }

        .section--white & {
            border-color: $color-dark;
            color: $color-dark;
        }

        .button--black & {
            color: $color-white;
        }
    }
}