.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    font-family: $font-main;

    &--with-arr {
        svg {
            height: 46px;
            width: 46px;
            border-radius: 50%;
            transition: background .3s $easing;

            path {
                transition: fill .3s $easing;
            }

            .section--white & {
                path {
                    fill: $color-dark;
                }
                rect {
                    stroke: $color-dark;
                }
            }
        }

        @include hover {
            .button__text {
                background: $color-white;
                color: $color-black;
            }

            svg {
                background: $color-white;
                path {
                    fill: $color-black;
                }
            }
        }

        .section--white & {
            @include hover {
                .button__text {
                    background: $color-black;
                    color: $color-white;
                }

                svg {
                    background: $color-black;
                    path {
                        fill: $color-white;
                    }
                }
            }
        }

        .contact & {
            @include breakpoint(phone) {
                margin-top: 45px;

                .button__text {
                    font-size: 16px;
                }
            }
        }

    }

    .text + & {
        margin-top: 32px;
    }

    &--form {
        background: rgba(14, 14, 14, 0.2);
        border: none !important;
        position: relative;

        @include breakpoint(phone) {
            padding: 20px 80px 20px 32px !important;

            .button__text {
                font-size: 16px !important;
            }
        }

        .button__circle {
            position: absolute;
            right: 10px;
            height: 46px;
            width: 46px;
            background: $color-white;
            border-radius: 50%;
            transform: scale(0.24);
            transition: transform .4s $elastic;
        }

        @include hover {
            .button__circle {
                transform: scale(1);
            }
        }

        svg {
            background: none !important;
            right: 0 !important;


            path {
                fill: $color-black;
            }

            rect {
                opacity: 0;
            }
        }

    }

    &--header {
        background: $color-white;
        text-transform: uppercase;
        padding: 8px 23px;
        border-radius: 100px;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        transition: background .3s $easing;

        @include breakpoint(phone) {
            padding: 5px 15px;
            position: fixed;
            right: 16px;
            top: 10px;
        }

        .button__text {
            color: $color-dark;
            transition: color .3s $easing;
        }

        @include hover {
            background: $color-violet;

            span {
                color: $color-white;
            }
        }
    }

    &--with-dot {
        border: 1px solid rgba(14, 14, 14, 0.3);
        border-radius: 100px;
        padding: 20px 80px 20px 32px;

        @include breakpoint(phone) {
            padding: 12px 46px 12px 24px;

            &.news__btn {
                padding: 20px 80px 20px 32px;
            }
        }

        svg {
            position: absolute;
            right: 10px;
            background: $color-black;
            border-radius: 50%;
            transform: scale(0.24);
            transition: transform .4s $elastic;

            @include breakpoint(phone) {
                transform: scale(0.22);
                right: 0;
            }

            .module--news & rect {
                stroke: $color-black;
            }

            path {
                opacity: 0;
                transition: opacity .3s $easing;
            }
        }


        &.button--black {
            background: $color-black;

            svg {
                background-color: $color-white;

                path {
                    fill: $color-black;

                }
            }
        }

        @include hover {
            svg {
                transform: scale(1);
            }

            path {
                opacity: 1;
            }
        }
    }

    &--icon {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        border: 1px solid rgba($color-white, .3);
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            pointer-events: none;
        }
    }

    &--link {
        border-radius: 100px;
        overflow: hidden;

        .button__text {
            transition: background .3s $easing;
        }

        @include hover {
            .button__text {
                background: $color-white;
                color: $color-violet;
            }
        }
    }

    &--search {
        position: relative;
        background: transparent;
        border-color: rgba($color-white, .3);
        pointer-events: none;
        transition: color .3s $easing, background .3s $easing;

        .module--result & {
            border-color: rgba($color-dark, .3);

            @include breakpoint(phone) {
                padding: 20px 80px 20px 32px;

                .button__text {
                    font-size: 16px;
                }
            }
        }

        svg {
            background: $color-white;

            .module--result & {
                background: $color-dark;

                @include breakpoint(phone) {
                    right: 10px;
                }
            }

            rect {
                stroke: none;
            }
        }

        .not-empty & {
            pointer-events: all;
            background: $color-white;

            .module--result & {
                // background: $color-dark;
            }

            .button__text {
                color: $color-violet;
            }

            svg {
                background: $color-violet;
            }
        }

        &.is-search-open  {
            background: $color-white;

            svg {
                fill: $color-violet;
            }
        }
    }

    &--violet {
        background: $color-violet;
        color: $color-white;

        &.button--with-dot {
            svg {
                background: $color-white;

                path {
                    fill: $color-violet;
                }
            }
        }
    }

    &--more {
        background: $color-black;
        padding: 12px 24px;
        border-radius: 100px;
    }

    &__text {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: $color-white;
        pointer-events: none;
        transition: color .3s $easing, background .3s $easing;

        @include breakpoint(phone) {
            font-size: 13px;

            .news__btn & {
                font-size: 16px;
            }
        }

        .button--with-arr &,
        .menu__top & {
            border: 1px solid $color-white;
            border-radius: 100px;
            padding: 10px 24px;
            margin-right: 2px;
        }

        .news__item & {
            color: $color-dark;
        }

        .menu__top & {
            font-size: 14px;
            height: 48px;
            display: flex;
            align-items: center;
            padding: 16px 40px;
            border-color: rgba($color-white, .3);
        }

        .section--white & {
            border-color: $color-dark;
            color: $color-dark;
        }

        .button--black &,
        .menu & {
            color: $color-white;
        }

        .form & {
            color: $color-black;
        }

        .section--violet .form & {
            color: $color-white;
        }
    }
}

a.button {
    width: fit-content;
}