.chip {
    position: relative;
    top: -80px;
    margin-bottom: -160px;
    pointer-events: none;

    .mac + & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__lines {
        width: 100vw;
        display: flex;
        justify-content: center;

        svg {
            width: 100%;
            height: 455px;
        }
    }

    &__item {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -70px;
        width: 140px;
        height: 140px;
        background: $color-white;
        border-radius: 25px;
    }

    .svg-chip-lines g g:nth-child(3) path:last-child {
        clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    }
}