.circle {
    width: 163px;
    height: 163px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--l {
        width: 242px;
        height: 242px;
    }

    &--xl {
        width: 430px;
        height: 430px;
    }

    &__wrap {
        pointer-events: none;
        opacity: 0;
        transition: opacity .4s $easing;

        .hero.is-active & {
            opacity: 1;
        }
    }

    & > span {
        position: absolute;
        inset: 0 0 0 0;
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        border-radius: 50%;
        z-index: -1;
        pointer-events: none;

        .circle--l & {
            filter: blur(100px);

            .safari & {
                filter: blur(100px) !important;
            }
        }
    }

    &--swiper {
        position: absolute;
        top: 50%;
        left: -25%;
        transform: translateY(-50%);
        z-index: 0;

        span {
            filter: blur(40px);

            .safari & {
                filter: blur(40px) !important;
            }
        }
    }

    &--keys {
        position: relative;
        left: 40px;
        top: 20px;

        span {
            filter: blur(40px);
        }
    }

    &--form {
        position: absolute;
        left: -30%;
        top: 45%;

        span {
            filter: blur(50px);
        }
    }

    &--bottom {
        position: absolute;
        bottom: -17%;
        right: -29%;

        span {
            filter: blur(40px);
        }
    }


    &--violet > span {
        background: $color-violet;
    }

    &--violet-2 > span {
        background: $color-violet-2;
    }

    &--blue > span {
        background: $color-blue;
    }

    p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-white;
        font-size: 14px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-of-type {
            margin-bottom: 10px;
        }
    }


}