.circle {
    width: 163px;
    height: 163px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include breakpoint(phone) {
        pointer-events: none;

        .module--text & {
            display: none;
        }

        &[data-position="5, 85"] {
            left: 80% !important;
            top: 3% !important;
        }

        &[data-position="10, -3"] {
            top: 0 !important;
            left: -47% !important;
        }

        &[data-position="50, 5"] {
            top: 83% !important;
            left: 65% !important;
            opacity: .8;
        }

        &[data-position="17, -15"] {
            top: 88% !important;
            left: 59% !important;
            opacity: .7;
        }

        &[data-position="12, -2"] {
            top: 80% !important;
            left: 63% !important;
            opacity: .7;
        }

        &[data-position="69, 3"] {
            top: 73% !important;
            left: -47% !important;
            opacity: .7;
        }

        .module--contacts &[data-position="22, 85"] {
            top: 4% !important;
            left: 82% !important;
            opacity: .7;
        }

        .module--contacts &[data-position="60, -2"] {
            top: 60% !important;
            left: -55% !important;
            opacity: .7;
        }

        &[data-position="55, 17"],
        &[data-position="12, -1"] {
            display: none;
        }
    }


    &[data-position] {
        position: absolute;
    }

    &--m {
        width: 160px;
        height: 160px;
    }

    &--l {
        width: 242px;
        height: 242px;
    }

    &--xl {
        width: 260px;
        height: 260px;
    }

    &--xxl {
        width: 430px;
        height: 430px;
    }

    &--quest {
        position: absolute;
        left: 77%;
        top: 22%;

        @include breakpoint(phone) {
            left: 76%;
            top: 14%;
        }
    }

    &__wrap {
        pointer-events: none;
        opacity: 0;
        transition: opacity .4s $easing;

        .video--about & {
            opacity: 1;
        }

        .hero.is-active & {
            opacity: 1;
        }
    }

    & > span {
        position: absolute;
        inset: 0 0 0 0;
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        border-radius: 50%;
        z-index: -1;
        pointer-events: none;

        .module--form & {
            filter: blur(50px);
        }

        .circle--l & {
            filter: blur(100px);

            .safari & {
                filter: blur(100px) !important;
            }
        }


    }

    &--what {
        left: 85% !important;
    }

    &.circle--what > span  {
        filter: blur(60px);
    }

    &.js-circle > span {
        .safari & {
            display: none;
        }
    }

    &--swiper {
        position: absolute;
        top: calc(50% - 215px);
        left: -25%;
        // transform: translateY(-50%);
        z-index: 0;

        span {
            filter: blur(40px);
        }
    }

    &--keys {
        position: relative;
        left: 40px;
        top: 20px;

        span {
            filter: blur(40px);
        }
    }

    &--form {
        position: absolute;
        left: -30%;
        top: 45%;

        @media(max-width: 1450px) {
            left: -15%;
        }

        span {
            filter: blur(50px);
        }
    }

    &--bottom {
        position: absolute;
        bottom: -17%;
        right: -29%;

        span {
            filter: blur(40px);
        }
    }

    &--animate {
        animation: pulse 3s infinite linear;
    }


    &--violet > span {
        background: $color-violet;
    }

    &--violet-2 > span {
        background: $color-violet-2;

    }

    &--blue > span {
        background: $color-blue;
    }

    &__svg {
        display: none;
        width: 100%;
        height: 100%;

        svg {
            transform: scale(1.3);
            width: 100%;
            height: 100%;
        }

        .safari & {
            display: block;
        }
    }

    p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-white;
        font-size: 14px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-of-type {
            margin-bottom: 10px;
        }
    }


}