.data {


    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 40px;
        position: relative;

        @include breakpoint(phone) {
            margin-bottom: 80px;
        }
    }

    &__svg {
        position: relative;
        margin: 53px auto 20px;


        p {
            height: 56px;
            width: 56px;
            border-radius: 50%;
            background: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            @include breakpoint(phone) {
                width: 40px;
                height: 40px;
                margin: auto;
            }
        }

        & > svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .js-morph:first-of-type {
            margin: -35px;
            width: 120px;
            height: 120px;
            transform: rotate(320deg);

            @include breakpoint(phone) {
                top: -10px;
                transform: rotate(320deg) scale(.6);
            }
        }

        .js-morph:last-of-type {
            margin: -15px;
            width: 120px;
            height: 120px;

            @include breakpoint(phone) {
                top: -20px;
                transform: scale(.6);
            }
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        background: #D0D0D0;
        height: 1px;
        width: 60%;

        span {
            position: absolute;
            top: -2px;
            left: 0;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background: $color-black;
            animation: moveX 2s infinite cubic-bezier(.09,.63,.72,.85);

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                  animation-delay: $i * .5s;
                }
              }
        }
    }

    &__item {
        z-index: 2;
        height: 200px;
        width: 200px;
        border: 2px solid $color-black;
        border-radius: 39px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 36px;
        background: $color-gray-light;

        @include breakpoint(phone) {
            width: 128px;
            height: 128px;
            padding: 13px;
            border-radius: 24px;
        }

        &:nth-of-type(3) {
            animation: shadow 1.5s infinite $easing;
        }

        p {
            font-size: 16px;
            line-height: 150%;
            text-align: center;

            @include breakpoint(phone) {
                font-size: 13px;
            }
        }

        svg + p {
            margin-left: 2px;
        }

        div {
            display: flex;

            @include breakpoint(phone) {
                align-items: center;
                svg {
                    width: 16px;
                }
            }
        }

        strong {
            color: $color-violet;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
        }
    }

    &__bolt {
        color: #757575;
        text-align: center;
        font-size: 12px;
        line-height: 130%;
        z-index: 2;
    }
}