.form {
    margin: 48px 0 48px;

    .grid--row & {
        width: $grid-m;
        margin-top: 0;

        @include breakpoint(phone) {
            width: 100%;
            margin-top: 60px;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 8px;

        @include breakpoint(phone) {
            flex-direction: column;
        }

        &--row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;

            @include breakpoint(phone) {
                align-items: flex-start;
                margin-top: 34px;
            }
        }

        p {
            font-weight: 500;
            font-size: 36px;
            line-height: 130%;
            letter-spacing: 0.02em;
            width: 100%;
            max-width: fit-content;
            margin-right: 16px;

            @include breakpoint(phone) {
                font-size: 24px;
            }
        }

        #datepicker input {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;

            .section--violet & {
                color: $color-white;
            }
        }

        .section--violet & #datepicker.error input{
            border-color: #FFAAAA !important;
        }
    }

    &__input {
        width: 55%;
        position: relative;
        margin-top: 2px;
        overflow: hidden;

        @include breakpoint(phone) {
            width: 100%;
            margin-top: 0;
        }

        &--small {
            width: 30%;

            @include breakpoint(phone) {
                width: 100%;
            }
        }

        &--select {
            overflow: visible;
            z-index: 4;
        }

        &:not(.form__input--select)::after {
            content: "";
            position: absolute;
            right: 2px;
            top: 8px;
            height: 20px;
            width: 20px;
            background: url('../media/svg/check-green.svg') no-repeat;
            background-size: contain;
            transform: translateX(30px);
            transition: opacity .3s $easing;
        }

        &.success:after {
            transform: translateX(0);
        }

        &--datepicker {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            #datepicker {
                max-width: 120px;

                @include breakpoint(phone) {
                    max-width: calc(50% - 8px);
                }
            }


            .input--time {
                width: 65px;

                @include breakpoint(phone) {
                    width: calc(50% - 8px);
                }

                input[type=time] {
                    color: rgba($color-dark, .3);
                    font-size: 12px;
                    height: 35px;
                    transition: color .3s $easing, font-size .2s $easing;
                    cursor: pointer;

                    .section--violet & {
                        color: rgba($color-white, .3);
                    }
                }

                &.is-active input {
                    font-size: 16px;
                    color: $color-dark;

                    .section--violet & {
                        color: $color-white;
                    }
                }

                &.error input[type=time] {
                    color: $color-red;
                }
            }

            .section--violet & .input--time.error input {
                border-color: #FFAAAA !important;
            }
        }





        input {
            padding: 5px 24px 5px 10px;
            border-bottom: 1px solid rgba($color-dark, .3);
            font-family: $font-main;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            transition: border .3s $easing;
            text-align: center;
            position: relative;

            @include breakpoint(phone) {
                text-align: left;
                padding: 5px 24px 5px 0;
            }

            .section--violet & {
                border-color: rgba($color-white, .3);
                color: $color-white;
            }


            &[type=time] {
                padding: 5px 10px;

                @include breakpoint(phone) {
                    padding: 5px 0;
                }
            }

            &::placeholder {
                text-align: center;
                color: rgba($color-dark, .3);
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.02em;
                transition: color .3s $easing;

                @include breakpoint(phone) {
                    text-align: left;
                }

                .section--violet & {
                    color: rgba($color-white, .3);
                }
            }

            &:focus::placeholder {
                opacity: 0;
            }



            @include hover {
                border-color: $color-dark;

                &::placeholder {
                    color: $color-dark;
                }
            }

            .section--violet & {
                @include hover {
                    border-color: $color-white;

                    &::placeholder {
                        color: $color-white;
                    }
                }
            }
        }

        &.error {
            input {
                border-color: rgba($color-red, .3) !important;

                &::placeholder {
                    color: $color-red !important;
                }
            }

            input[type=number] {
                color: $color-red !important;
            }
        }

        .section--violet &.error input {
            border-color: #FFAAAA !important;
        }

        &.form__input--datepicker input {
            padding: 5px 10px;

            @include breakpoint(phone) {
                padding: 5px 0;
            }
        }

        input:focus + label {
            opacity: 0;
        }


        label:not(.option) {
            display: block;
            position: absolute;
            left: 50%;
            top: 12px;
            transform: translateX(-50%);
            font-weight: 500;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: $color-dark;
            opacity: .3;
            width: 100%;
            text-align: center;
            pointer-events: none;
            transition: opacity .2s $easing;

            .section--violet & {
                color: $color-white;
            }

            .is-error {
                color: $color-red;
            }
        }
    }

    &__checkbox {
        height: 64px;

        @include breakpoint(phone) {
            margin-bottom: 25px;
        }

        label {
            position: relative;
            display: block;
            padding-left: 26px;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            cursor: pointer;
            overflow: hidden;

            @include breakpoint(phone) {
                padding-left: 32px;
            }


            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 18px;
                width: 18px;
                border-radius: 5px;
                transition: transform .3s $easing;
            }

            &::before {
                border: 1px solid rgba($color-dark, .3);
                z-index: 2;

                .section--violet & {
                    border: 1px solid rgba($color-white, .3);
                }
            }

            &::after {
                background: url("../media/check.png") no-repeat;
                background-size: cover;
                z-index: 0;
                opacity: 0;
                transition: opacity .3s $easing;

                .section--violet & {
                    background: url("../media/check-white.png") no-repeat;
                    background-size: cover;
                }
            }
        }

        &.error label {
            color: $color-red;
        }

        input[type=checkbox] {
            visibility: hidden;
            height: 1px;
            width: 1px;
            opacity: 0;
        }

        input[type=checkbox]:checked+label {
            &::after {
                opacity: 1;
            }
        }
    }
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    &.error input::placeholder {
        color: $color-red;
    }
}