.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 3;

    &__logo {
        position: relative;

        .svg-logo {
            transition: opacity .2s $easing;

            &:last-of-type {
                position: absolute;
                inset: 0 0 0 0;
                opacity: 1;

                .is-section-white & {
                    opacity: 0;
                }
            }
        }

        .is-section-white & .svg-logo:first-of-type {
            opacity: 1;
        }

    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1170px;
        margin: 16px auto 0;

        @media(min-width: 1450px) {
            max-width: 100%;
            padding: 0 120px;
        }
    }
}