.heading {

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;

        & + p {
            margin-top: 16px;
        }
    }

    &__subtitle {
        margin-top: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }

    &__cols {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        p {
            width: $grid-s;
            margin: 0;
        }
    }


    &__span {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;

        svg {
            height: 25px;
            width: 25px;
            margin-right: 16px;
        }

        & + .heading__title {
            margin-top: 32px;
        }
    }

    &__btn {
        margin-top: 40px;
    }
}