.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 2;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1170px;
        margin: 16px auto 0;
    }

    &__btn {
        background: $color-white;
        text-transform: uppercase;
        padding: 8px 23px;
        border-radius: 100px;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
    }
}