.heading {
    z-index: 2;

    .is-video-open & {
        opacity: 0;
        pointer-events: none;
    }

    &--text {
        padding-bottom: 64px;
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba($color-dark, .1);
        display: flex;
        justify-content: flex-end;
        margin-bottom: 64px;

        @include breakpoint(phone) {
            padding-bottom: 45px;
            flex-direction: column-reverse;
            margin-bottom: 0;
        }
    }

    &__info {
        position: absolute;
        bottom: 64px;
        left: 0;

        @include breakpoint(phone) {
            position: relative;
            bottom: 0;
            padding-bottom: 25px;
        }

        strong {
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: $color-violet;
            text-transform: uppercase;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            opacity: .6;
            color: $color-dark;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;

        @include breakpoint(phone) {
            font-size: 36px;
            line-height: 130%;
            letter-spacing: 0.02em;

            #circles & {
                br {
                    display: none;
                }
            }
        }

        .module--form-cols & {
            font-weight: 600;
            font-size: 48px;
            line-height: 110%;

            @include breakpoint(phone) {
                font-size: 28px;
            }
        }

        & + p {
            margin-top: 16px;
        }
    }

    &__subtitle {
        margin-top: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.02em;

        @include breakpoint(phone) {
            font-size: 16px;

            .module--slider-cards & {
                br {
                    display: none;
                }
            }
        }
    }

    &__cols {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;



        p {
            width: $grid-s;
            margin: 0;

            @include breakpoint(phone) {
                width: 47%;

            }
        }
    }


    &__span {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;

        @include breakpoint(phone) {
            font-size: 14px;
            line-height: 150%;
        }

        svg {
            height: 25px;
            width: 25px;
            margin-right: 16px;

            @include breakpoint(phone) {
                margin-right: 4px;
            }
        }

        & + .heading__title {
            margin-top: 32px;

            @include breakpoint(phone) {
                margin-top: 15px;

                .module--padding-m & {
                    margin-top: 32px;
                }
            }
        }
    }

    &__btn {
        margin-top: 40px;

        @include breakpoint(phone) {
            margin-top: 32px;
            padding: 20px 80px 20px 32px !important;

            .module--works &,
            .module--news & {
                padding: 0 !important;
            }

            .button__text {
                font-size: 16px !important;
            }

            svg {
                right: 10px !important;
            }
        }
    }
}