.key-slide {
    position: relative;

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;
        color: $color-violet;
        margin-bottom: 16px;
    }

    &__text {
        display: flex;
        justify-content: space-between;

        p {
            width: $grid-s;
            margin: 0;
        }

        .key-slide__title + & {
            flex-direction: column;
            p {

                width: 100%;

                margin-bottom: 20px;

                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }

    &__wrap {
        width: $grid-m;
        margin-left: auto;
    }

    &__btn {
        margin-top: 48px;
    }
}