.key-slide {
    position: relative;

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;
        color: $color-violet;
        margin-bottom: 16px;

        @include breakpoint(phone) {
            font-size: 28px;
        }
    }

    &__text {
        display: flex;
        justify-content: space-between;

        @include breakpoint(phone) {
            .swiper--keys-1 & {
                flex-direction: column;
            }
        }

        p {
            width: $grid-s;
            margin: 0;



            @include breakpoint(phone) {
                .swiper--keys-1 & {
                    width: 100%;
                    margin-bottom: 16px;
                }
            }
        }

        .key-slide__title + & {
            flex-direction: column;
            p {

                width: 100%;

                margin-bottom: 20px;

                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }

    &__wrap {
        width: $grid-m;
        margin-left: auto;

        @include breakpoint(phone) {
            width: 100%;
        }
    }

    &__btn {
        margin-top: 48px;

        @include breakpoint(phone) {
            svg {
                right: 10px !important;
            }
        }
    }
}