.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: calc(176px + 15vh + 315px);
    border-radius: 0px 0px 30px 30px;
    padding: 50px 120px;
    overflow: hidden;
    pointer-events: none;

    @include breakpoint(phone) {
        padding: 18px 16px;
    }

    .is-menu-open & {
        pointer-events: all;
    }


    .curtain {
        position: absolute;
        top: 36px;
        right: 165px;
        background: $color-violet;
        transform-origin: 50% 50%;
        transform: translate(50%, -50%);
        height: 1px;
        width: 1px;
        border-radius: 50%;
        opacity: 0;

        @media(max-width: 1450px) {
            right: 145px;
        }

        @include breakpoint(phone) {
            right: 64px;
            top: 30px;
        }
    }

    &__wrap {
       position: relative;
       opacity: 0;
       transform: translateY(-20px);

       .is-menu-open & {
        opacity: 1;
        transform: translateY(0);
        transition: transform .4s $easing, opacity .4s $easing;
        transition-delay: .4s;
       }

        .is-search-open & {
            overflow-y: scroll;
            height: 100vh;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__search {
        margin-left: 3px;
        transition: background .3s $easing;

        svg path {
            transition: fill .3s $easing;
        }

        &.is-search-open {
            background: $color-white;
            svg path {
                fill: $color-violet;
            }
        }
    }

    &__top {
        display: flex;
    }

    &__list {
        margin: 40px 0 64px;

        @include breakpoint(phone) {
            margin: 15px 0 0;
            padding-bottom: 70px;
        }

        & > li {
            display: flex;
            align-items: flex-end;

            @include breakpoint(phone) {
                flex-wrap: wrap;
                flex-basis: 100%;
                padding-bottom: 20px;
            }
        }

        &--submenu {
            counter-reset: section;
            display: flex;
            margin-left: 27px;
            padding-bottom: 10px;

            @include breakpoint(phone) {
                margin: 0;
                width: 98%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                padding-top: 10px;
            }

            li {
                margin-right: 22px;

                @include breakpoint(phone) {
                    padding-left: 5px;
                    margin: 0;
                    min-width: 100px;
                }
            }
        }
    }

    &__close {
        margin-left: auto;

        @include hover {
            .cross {
                transform: rotate(135deg);
            }
        }
    }



    &__link {
        display: block;
        font-weight: 600;
        font-size: 48px;
        line-height: 110%;
        color: $color-white;
        margin-bottom: 4px;
        counter-increment: section;

        @include breakpoint(phone) {
            font-weight: 500;
            font-size: 28px;
            line-height: 130%;
            letter-spacing: 0.02em;
        }

        .menu__list--submenu & {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            position: relative;


            &::before {
                content: counter(section);
                position: absolute;
                top: 0;
                left: 0;
                font-size: 11px;
                transform: translate(-110%, -25%);
            }
        }
    }

    .cross {
        transform: rotate(45deg);

        &::after,
        &::before {
            background: $color-white;
        }
    }

}