.result {
    margin-top: 48px;

    h3 {
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;
        margin-bottom: 16px;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
    }

    &__quick {
        margin-top: 48px;
        margin-bottom: 120px;

        p {
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 16px;
        }

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: $color-dark;
            opacity: .6;
            transition: opacity .3s $easing;

            @include hover {
                opacity: 1;
            }
        }
    }

    &__list {
        margin-bottom: 120px;
    }
}

.result-item {
    margin-bottom: 72px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 8px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba($color-black, .7);
    }

    &__link {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: $color-violet;
    }
}