

details {
	position: relative;
}

details[open] {
	z-index: 1;
}

summary {
	cursor: pointer;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary {

	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 3px);
		right: 10px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid rgba($color-dark, .3);
		transform-origin: center center;
		transition: transform ease-in-out .2s, border .3s $easing;
	}

	&.error::after  {
		border-top: 5px solid $color-dark;
	}
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: scale(1, -1);
}




summary.radios {
	counter-reset: radios;



	@include hover {
		input {
			border-color: $color-dark;

			&[type=radio]:after {
				color: $color-dark;
			}
		}

		&:after {
			border-top: 5px solid $color-dark;
		}
	}
}

.custom-select[open] {
	input {
		border-color: $color-dark;

		&[type=radio]:after {
			color: $color-dark;
		}
	}

	&:after {
		border-top: 5px solid $color-dark;
	}
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
    margin: 0;
    pointer-events: none;
	text-align: center;
	color: rgba($color-dark, .3);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

	.error & {
		color: $color-red;
		border-color: rgba($color-red, .3);
	}

	.is-active & {
		color: $color-dark;
	}
}

input[type=radio]:checked {
    display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 12px;
	transition: color .3s $easing;

	.is-active & {
		font-size: 16px;
	}
}

ul.list {
	counter-reset: labels;
    background: #FFFFFF;
    border: 0.5px solid $color-dark;
    border-radius: 16px;
	width: 100%;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 24px;
	margin: 0;
	box-sizing: border-box;
	max-height: 200px;
	overflow-y: auto;

	.error & {
		border-color: $color-red;
	}
}

.form__input--select {
	label {
		width: 100%;
		display: flex;
		cursor: pointer;
		justify-content: space-between;
		transition: color .3s $easing;
		font-weight: 500;

		@include hover {
			color: $color-violet;
		}
	}

	label span {
		--display: none;
		display: var(--display);
		width: 1rem;
		height: 1rem;
		border: 1px solid #727272;
		border-radius: 3px;
	}

	li {
		margin: 0;
		padding: 8px 0;
	}

	li:first-child {
		padding-top: 0;
	}

	li:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
}

