.socials {
    display: flex;
    margin-top: 41px;

    @include breakpoint(phone) {
        .footer & {
            position: absolute;
            bottom: 32%;
            margin-top: 0;
        }
    }

    &--menu {
        position: absolute;
        right: 0;
        bottom: 0;

        @include breakpoint(phone) {
            right: auto;
            left: 0;
            bottom: auto;
            top: 80%;

            .is-search-open & {
                top: 110%;

                .safari & {
                    top: 100%;
                }
            }
        }
    }

    &--article {
        margin-top: 0;

        path {
            fill: $color-violet;
        }
    }

    &__item {
        margin-right: 16px;

        .socials--menu &,
        .socials--article & {
            margin: 0;
        }

        a {
            transition: transform .3s $easing;

            .socials--menu &,
            .socials--article & {
                border-radius: 50%;
                height: 48px;
                width: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color .3s $easing;
                transform: none !important;
            }

            .socials--menu & {
                border: 1px solid rgba($color-white, .3);
                margin-left: 8px;

                @include breakpoint(phone) {
                    margin-left: 0;
                    margin-right: 8px;
                }

                @include hover {
                    background-color: $color-white;

                    svg path {
                        fill: $color-violet;
                    }
                }
            }

            .socials--article & {
                border: 1px solid rgba($color-violet, .3);
                margin-right: 8px;

                @include hover {
                    background-color: $color-white;

                    svg path {
                        fill: $color-violet;
                    }
                }
            }

            @include hover {
                transform: scale(1.3);
            }
        }
    }
}