.socials {
    display: flex;
    margin-top: 41px;

    &__item {
        margin-right: 16px;

        a {
            transition: transform .3s $easing;

            @include hover {
                transform: scale(1.3);
            }
        }
    }
}