.svg-arr {
    &-top {
        transform: rotate(180deg);
    }

    &-left {
        transform: rotate(90deg);
    }
}

.svg-arr-btn {
    pointer-events: none;

    .button {
        transform: rotate(225deg);
    }
}

.svg-play {
    @include breakpoint(phone) {
        width: 20px;
    }
}

.svg-chip-lines {
    @include breakpoint(phone) {
        display: none;
    }

    &-m {
        display: none;

        @include breakpoint(phone) {
            display: block;
        }
    }
}