.swiper {

    &__border {
        z-index: 4;
        pointer-events: none;
        position: relative;
    }

    &--laptop {
        position: absolute;
        top: calc(50% - 20px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 754px;
        max-height: 87%;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }

    &--cards {
        width: calc((#{$grid-s} + 20) * 2);
        margin: 64px 0 200px;
        position: relative;
    }

    &--multi {
        margin-top: 71px;
        width: 377px;
        margin-right: auto;
        position: relative;
    }

    &--mb-none {
        margin-bottom: 50px !important;
    }

    &--keys {
        position: relative;
        width: $grid;
        margin: 52px auto 150px;

        padding-top: 100px;
        border-top: 1px solid rgba($color-dark, .1);

        .swiper-wrapper {
            order: 2;
        }
    }

    &-imgs {
        position: absolute;
        top: 5%;
        left: -10%;
        width: 50%;
    }

    &__box {
        width: $grid-m;
        overflow: hidden;
        margin-left: auto;
    }

    &--what {
        width: 477px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .swiper-wrapper {
            order: 2;
        }
    }

    &--padding-l {
        padding-top: 170px;
    }

    &-btns {
        z-index: 1;
        width: $grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;

        .swiper--what & {
            width: 477px;
            top: auto;
            left: 100px;
            transform: none;
            bottom: 24px;
            border-top: 1px solid rgba($color-dark, .3);
            text-transform: uppercase;
        }

        .swiper--cards & {
            width: 790px;
            transform: translate(-66%, -50%);
        }
    }

    &__close {
        border-radius: 50%;
        height: 48px;
        width: 48px;
        background: $color-black;
        position: absolute;
        left: 677px;
        top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        cursor: pointer;

        .cross {
            transition: .3s $easing;

            &::after,
            &::before {
                width: 15px;
                background-color: $color-white;
            }
        }

        @include hover {
            .cross {
                transform: rotate(90deg);
            }
        }
    }

    &__pagination {
        order: 1;
        display: flex;
        justify-content: space-between;
        padding-bottom: 9px;
        margin-bottom: 35px;
        position: relative;


        .swiper--keys & {
            width: $grid-m;
            position: absolute;
            top: 17px;
            right: 0;
        }

        .js-progress {
            height: 1px;
            background: rgba($color-black, 0.15);
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .js-progress-line {
            content: "";
            position: absolute;
            bottom: 0;
            height: 2px;
            background: $color-violet;
        }

        div.js-pag {
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: $color-dark;
            color: $color-dark;
            padding: 15px 0;
            width: 100%;
            margin-right: 20px;
            opacity: .6;
            cursor: pointer;
            transition: opacity .4s $easing;

            span {
                display: block;
                margin-top: 25px;
            }

            &:nth-of-type(3) {
                margin-right: 0;
            }

            &.is-active {
                opacity: 1;
                font-weight: 600;
            }
        }
    }

    &-button-next,
    &-button-prev {
        cursor: pointer;
        transition: opacity .4s ease-in-out;

        svg {
            pointer-events: none;
        }

        .swiper--what & {
            display: flex;
            align-items: center;
            margin-top: 12px;

            path {
                stroke: $color-dark;
            }
        }

        .swiper--cards & {
            svg {
                circle {
                    fill: $color-violet;
                }

                path {
                    fill: $color-white;
                }
            }
        }

        .swiper--multi & {
            position: absolute;
            top: 100px;
            z-index: 2;
            left: calc(100% + 149px);
        }

        svg path {
            transition: transform .3s $easing;
        }

        @include hover {
            svg path {
                transform: translateX(5px);
            }
        }
    }

    &-button-disabled {
        opacity: 0;
        pointer-events: none;
    }

    &-button-prev {
        svg {
            transform: scale(-1, 1);
        }

        .swiper--multi & {
            z-index: 2;
            left: -149px;
        }
    }

    &__caption {
        position: absolute;
        top: 32px;
        left: 0;
        font-size: 14px;
        line-height: 150%;
        font-weight: 600;
        color: rgba($color-dark, .6);
        z-index: 2;
    }

}