.text {
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba($color-dark, .2);

        @include breakpoint(phone) {
            .module--circles & {
                margin-bottom: 0 !important;
            }
        }

        .text--two-cols & {
            width: 100%;
        }
    }



    .module--text & p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;

        @include breakpoint(phone) {
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.02em;

            & + p {
                margin-top: 20px;
            }
        }
    }

    &__sources {
        margin-top: 32px;

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: $color-violet;

            @include breakpoint(phone) {
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.02em;
            }
        }
    }

    & + & {
        margin-top: 72px;
    }

    h4 {
        font-weight: 600;
        font-size: 48px;
        line-height: 110%;
        margin-bottom: 32px;

        @include breakpoint(phone) {
            font-weight: 500;
            font-size: 28px;
            line-height: 130%;
            letter-spacing: 0.02em;
            margin-bottom: 25px;
        }
    }

    .module--contacts & {
        margin-top: 64px;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;

        @include breakpoint(phone) {
            margin-top: 100px;
        }


        a {
            margin-bottom: 6px;
            display: block;

            span {
                display: inline;
                color: #575757;
                margin-right: 6px;
            }
        }
    }

    .article & {
        p {
            font-size: 16px;
            line-height: 150%;
            color: rgba($color-black, .7);

            @include breakpoint(phone) {
                font-size: 14px;
            }

            & + p {
                margin-top: 30px;
            }
        }
    }

    a {
        color: $color-violet;
    }

    &--two-cols {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(phone) {
            flex-wrap: nowrap;

            .module--circles & {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        p {
            width: calc(50% - 10px);

            @include breakpoint(phone) {
                .module--circles & {
                    margin-bottom: 0 !important;
                    margin-top: 16px !important;
                }
            }

            &:nth-child(odd) {
                margin-right: 20px;

                @include breakpoint(phone) {
                    margin: 0;
                }
            }

            @include breakpoint(phone) {
                margin-bottom: 24px !important;
            }
        }
    }

    &--with-label {
        width: 100%;
        border-top: 1px solid rgba($color-dark, .1);
        padding-top: 48px;
        margin: 32px 0 120px;

        @include breakpoint(phone) {
            padding-top: 30px;
            margin: 25px 0 85px;
        }
    }

    &__wrap {
        width: $grid-m;
        display: flex;

        @include breakpoint(phone) {
            width: 100%;
            flex-direction: column;

            p {
                width: 100%;
                margin-right: 0;
                font-size: 13px;
            }
        }

        p {
            margin-top: 0;
        }
    }

    strong {
        color: $color-violet;

        @include breakpoint(phone) {
            font-weight: 500;
        }
    }


    &__label {
        display: inline-block;
        font-size: 14px;
        line-height: 150%;
        color: rgba($color-dark, .6);
        margin-right: auto;

        @include breakpoint(phone) {
            width: 122px;
            font-size: 13px;
            padding-right: 10px;
        }
    }

    p {
        color: $color-dark;
    }

    &--m p {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;

        @include breakpoint(phone) {
            font-size: 16px;
        }
    }

    &--l p {
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;

        @include breakpoint(phone) {
            font-weight: 500;
            font-size: 28px;
            line-height: 130%;
        }
    }
}