.video {
    position: relative;


    &__circle {
        position: absolute;
        left: 64vw;
        top: 17vh;

        .safari & {
            transform: scale(1.3);

            & > span {
                display: none;
            }

            svg {
                position: absolute;
                inset: 0 0 0 0;
            }

            g {
                mix-blend-mode: none;
            }
        }

        @media(max-width: 1450px) {
            left: 70vw;
            top: 15vh;
        }

        .hero.is-active & {
            cursor: pointer;
        }

        &.is-active {
            position: absolute;
        }

        svg path {
            transition: stroke-width .4s $easing;
        }

        & > span {
            filter: blur(10px);
            transition: filter .4s $easing, transform .4s $easing;
        }

        @include hover {
            & > span {
                filter: blur(15px);
            }

            .safari & {
                & > span {
                    filter: none !important;
                    transform: scale(1.15);
                }
            }

            svg path {
                stroke-width: 2px;
            }
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px;
        height: 60px;
        width: 60px;
        padding: 0;

        .team__video & {
            transition: transform .3s $easing;
        }
    }

    &__poster {
        transition: transform .3s $easing;
    }

    &.team__video {
        @include hover {
            .video__poster {
                transform: scale(1.1);
            }

            .video__btn {
                transform: scale(1.1);
            }
        }
    }

    &__caption {
        position: absolute;
        inset: auto 0 0 0;
        padding: 14px 16px;

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }
    }

    &__time {
        display: block;
        margin-top: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: rgba($color-white, .6);
    }
}