.article {

    &__head {
        margin-bottom: 64px;
        border-bottom: 1px solid rgba($color-dark, .1);
    }
    h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;
    }

    &__info {
        strong {
            color: $color-violet;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
        }
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: rgba($color-dark, .6);
        }
    }
}