.hero {
    // height: 100vh;
    position: relative;
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;

    // .module--hero-head,
    // .module--hero-intro {
    //     height: 100vh;
    // }

    &-head,
    &-intro {
        height: 100vh;
        z-index: 2;
    }

   &-head {
    @include breakpoint(phone) {
        position: relative;

        &::before {
            content: "";
            background: $color-gray-light;
            width: 100%;
            height: 30vh;
            bottom: 100%;
            left: 0;
            position: absolute;
        }
    }
   }

    .js-area {
        width: calc(100vw - 500px);
        height: 460px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 6;

        @media(max-width: 1400px) {
            width: calc(100vw - 400px);
        }

        @media(max-height: 790px) {
            height: 50vh;
        }
    }

    &__wrap {
        background: $color-gray-light;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 30px 0 40px;

        @include breakpoint(phone){
            padding: 20px 0 30px;
        }
    }

    &-intro {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        pointer-events: none;

        @include breakpoint(phone) {
            pointer-events: all;
        }
    }

    &__circle {
        position: absolute;
        left: 62px;
        top: 220px;

        @include breakpoint(phone) {
            left: 85%;
            opacity: .8;
        }
    }

    &__desc {
        max-width: 476px;
    }

    &__top {
        width: 100vw;
        height: 15vh;
        background: $color-gray-light;

        @include breakpoint(phone) {
            height: 24vh;
        }
    }

    &__title {
        margin-bottom: -8px;
        margin-top: -3px;
        position: relative;


        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            background: $color-gray-light;
            right: 99%;
            width: 100vw;
        }

        &::after {
            right: auto;
            left: 99%;
        }

        svg {
            width: 690px;
            height: 176px;
            pointer-events: none;

            @include breakpoint(phone) {
                width: calc(100vw - 32px);
                height: 25vw;
            }
        }

        @include breakpoint(phone) {
            width: 100%;
        }
    }

    &__subtitle {
        text-transform: uppercase;
        color: $color-dark;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;

        @include breakpoint(phone) {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: rgba($color-dark, .8);
        margin-top: 120px;

        @include breakpoint(phone) {
            margin-top: 17vh;
            font-size: 13px;
        }
    }

    &__point {
        position: absolute;
        left: 65vw;
        top: -17vh;
        height: 160px;
        width: 160px;
        border-radius: 50%;
    }

    &__scroll {
        position: fixed;
        bottom: 40px;
        left: calc(50% - 20px);
        cursor: pointer;
        z-index: 2;
        transition: opacity .4s $easing;

        .is-video-open & {
            opacity: 0;
            pointer-events: none;
        }

        @media(max-height: 790px) {
            bottom: 25px;
        }

        &--phone {
            display: none;

            @include breakpoint(phone) {
                display: block;
            }
        }

        @include breakpoint(phone) {
            bottom: 60px;
            position: absolute;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid $color-white;
            animation: scroll 2s infinite cubic-bezier(0.420, 0.000, 0.580, 1.000);
        }

        svg {
            pointer-events: none;
            path {
                transition: transform .4s $easing;
            }
        }


    }
}