.module {
    position: relative;

    &--start {
        padding-top: 50px;
    }

    &--full {
        height: 100vh;
        min-height: 800px;
    }

    &__bg {
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;

        &--not-full {
            bottom: auto;
            right: auto;
            z-index: 0;
        }
    }

    &--form {
        margin-bottom: 120px;

        .section--padding-l & {
            margin-bottom: 0;
        }
    }

    &--slider {
        overflow: hidden;
    }

    &--circles {
        padding: 81px 0 120px;

        @media(max-height: 720px) {
            padding-top: 50px;
        }
    }

    &--steps {
        padding: 32px 0 $padding;
    }

    &--bubles {
        position: absolute;
        inset: 13% 35px 13% 35px;
        pointer-events: none;

        // @media(max-height: 750px) {
        //     inset: 13% 35px 13% 35px;
        // }

        svg {
            overflow: visible;
        }
    }

    &--padding {
        padding: $padding 0;
    }

    &--news {
        padding-top: 102px;
    }

    &--works {
        padding-top: 123px;
    }

    &--keys {
        padding-bottom: 48px;
    }

    &--how {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}