.module {
    position: relative;

    &--start {
        padding-top: 50px;

        @media(max-height: 750px) {
            padding-bottom: 50px;
        }

        @include breakpoint(phone) {
            padding-top: 140px;

            &.js-back {
                display: flex;
                .grid {
                    margin-top: auto;
                }
            }

            &.module--result {
                padding-top: 40px;
            }
        }
    }

    &--hero-intro {
        .is-video-open & {
            opacity: 0;
            pointer-events: none;
        }
    }

    &--percents {
        margin-top: 120px;
    }


    &--full {
        height: 100vh;
        min-height: 800px;

        @include breakpoint(phone) {
            min-height: 100vh;
        }
    }

    &__bg {
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;

        &--not-full {
            bottom: auto;
            right: auto;
            z-index: 0;
            max-width: 45vw;

            @include breakpoint(phone) {
                max-width: 100%;
            }
        }
    }

    &--video {
        position: initial;
    }

    &--404 {
        height: calc(100vh - 120px);

        @include breakpoint(phone) {
           height: auto;
        }

        .logo {
            position: fixed;
            top: 16px;
            left: 120px;

            @media(max-width: 1450px) {
                left: 100px;
            }

            @include breakpoint(phone) {
                position: absolute;
                left: 16px;
            }
        }

        .nav {
            // margin-top: 150px;
            margin-top: 16vh;

            @media(max-height: 740px) {
                margin-top: 10vh;
            }

            @include breakpoint(phone) {
                margin-top: 14vh;
                width: 100%;

                nav {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                }
            }

            p {
                color: rgba($color-dark, .6);
                margin-bottom: 4px;

                @include breakpoint(phone) {
                    margin-bottom: 15px;
                }
            }

            a {
                position: relative;
                display: inline-flex;
                margin-right: 24px;
                font-size: 14px;
                line-height: 150%;

                @include breakpoint(phone) {
                    flex-basis: 50%;
                    font-size: 13px;
                    margin-right: 0;
                    margin-bottom: 16px;
                }

                span {
                    display: block;
                    position: relative;
                }

                span::after {
                    content: "";
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    height: 1px;
                    background: $color-dark;
                    width: 100%;
                }
            }
        }

        .image {
            max-width: 520px;
            margin: 120px auto 40px;

            @include breakpoint(phone) {
                margin: 0;
                padding-top: 165px;
            }
        }

        @include breakpoint(phone) {
            .heading {
                margin-top: 70px;

                &__subtitle {
                    br {
                        display: none;
                    }
                }
            }
        }
    }

    &--image {
        &-small {
            max-height: 500px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            overflow: hidden;
            margin-bottom: 150px;

            @include breakpoint(phone) {
                height: 500px;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                margin-bottom: 100px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &--contacts {
        @include breakpoint(phone) {
            padding-top: 170px;
            padding-bottom: 0;
        }
    }

    &--form {
        margin-bottom: 120px;

        @include breakpoint(phone) {
            margin-bottom: 70px;
        }

        .circle--blue {
            @media (max-width: 1450px) and (min-width: 1024px) {
                left: -6% !important;
            }
        }

        &-cols {
            margin-top: 120px;

            @include breakpoint(phone) {
                margin: 100px 0 42px;

                .module--quest + & {
                    margin-top: 170px;
                }

                .grid.grid--row {
                    padding: 0;
                }
            }
        }

        .section--padding-l & {
            margin-bottom: 0;
        }
    }

    &--slider {
        overflow: hidden;

        @include breakpoint(phone) {
            overflow: visible;
            .module--works + & {
                margin-top: 50px;
            }
        }
    }

    &--quest {
        @include breakpoint(phone) {
            .grid {
                padding: 0;
            }
        }
    }

    &--circles {
        padding: 81px 0 120px;

        @media(max-height: 720px) {
            padding-top: 50px;
        }

        @include breakpoint(phone) {
            #circles & {
                padding: 70px 16px 120px;
            }
        }
    }

    &--team {
        @include breakpoint(phone) {
            margin-top: 55px;
        }
    }

    &--text {
        margin-bottom: 120px;
    }

    &--steps {
        padding: 32px 0 $padding;

        @include breakpoint(phone) {
            padding-bottom: 0;
        }
    }

    &--bubles {
        position: absolute;
        inset: 13% 35px 13% 35px;
        pointer-events: none;

        &-about {
            inset: 17% 9px 11% 20px;

            @include breakpoint(phone) {
                top: 100vh;
                left: 10vw;
                width: 300vw;
                right: auto;

                svg {
                    width: 100%;
                }
            }
        }

        svg {
            overflow: visible;
        }
    }

    &--padding {
        padding: $padding 0;

        &-m {
            @include breakpoint(phone) {
                padding-top: 500px;
            }
        }
    }

    &--news {
        padding: 102px 0 120px;

        @include breakpoint(phone) {
            padding-bottom: 65px;
        }

        .module--start + & {
            padding-top: 0;
        }
    }

    &--works {
        padding-top: 123px;
    }

    &--keys {
        padding-bottom: 48px;

        @include breakpoint(phone) {
            padding-top: 48px;
        }
    }

    &--bg-box {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint(phone) {
            padding: 55px 0;
            height: auto;
        }
    }

    &--lines {
        margin-top: 150px;

        @include breakpoint(phone) {
            margin-top: 30px;
        }

        .mac {
            z-index: 2;
        }
    }

    &--empty {
        display: none;

        @include breakpoint(phone) {
            display: block;
            height: 100vh;
            width: 100%;
        }
    }


    &--slider-keys {
        margin-top: 72px;

        @include breakpoint(phone) {
            padding: 0 16px;

            .grid--end {
                padding: 0;
            }
        }

        .module--start + & {
            margin-top: 150px;

            @include breakpoint(phone) {
                margin-top: 50px;
            }

            .circle {
                top: 25% !important;
            }
        }
    }

    &--slider-keys:not(.module--mt) {
        .module--start + & {

            .circle {
                top: 5% !important;
            }
        }
    }

    &--mt {
        margin-top: 72px !important;

        @include breakpoint(phone) {
            margin-top: 0 !important;
        }
    }
}