.news {
    position: relative;
    border-top: 1px solid rgba($color-dark, .1);
    padding-top: 64px;
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__more {
        margin: 90px 0 0;
    }

    &__item {
        width: $grid-m;
        position: relative;
        margin-bottom: 72px;

        .result & {
            margin-bottom: 0;
        }
    }

    &__cats {
        display: flex;
        align-items: flex-start;

        a {
            border: 1px solid rgba($color-dark, 0.3);
            border-radius: 100px;
            height: 32px;
            text-transform: uppercase;
            color: $color-dark;
            padding: 8px 12px;
            font-size: 14px;
            line-height: 120%;
            margin: 0;
            margin-right: 8px;
            cursor: pointer;

            &.is-active {
                border-color: $color-dark;
                background: $color-dark;
                color: $color-white;
                pointer-events: none;
            }
        }
    }

    &__img {
        border-radius: 10px;
        overflow: hidden;

        .news__item & {
            height: 250px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        letter-spacing: 0.02em;
        margin: 16px 0;
    }

    &__date {
        color: rgba($color-dark, .6);
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }

    &__btn {
        margin-top: 32px;

        svg rect {
            stroke: none;
        }
    }

    &__type {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $color-white;
        padding: 7px 12px;
        border-radius: 100px;
        text-transform: uppercase;

        &--cases {
            background: #5D009F;
        }

        &--news {
            background: #3AADCC;
        }
    }
}