.section {
    overflow: hidden;

    &--dark,
    &--violet {
        color: $color-white;
    }

    &--violet {
        background: $color-violet;
    }

    &--white {
        background: $color-gray-light;
    }

    &--padding-l {
        padding: 120px 0;
    }
}