$color-white: #fff;
$color-black: #000;
$color-gray: #383838;
$color-gray-light: #F1F1F1;
$color-violet: #5D009F;
$color-violet-2: #8E27D8;
$color-red: #E75656;
$color-dark: #0E0E0E;
$color-blue: #3AADCC;

$padding: 72px;

$easing: ease-out;
$elastic: cubic-bezier(0.64, 0.57, 0.67, 1.53);

//mixins
@mixin hover {
    .mod_no-touchevents &:hover {
        @content;
    }
}